@keyframes circleup {
    0% {
        bottom: -1000px; /* Posição inicial fora da tela */
    }
    100% {
        bottom: -500px; /* Posição final na tela, ajuste conforme necessário */
    }
}
@keyframes notebookup {
    0% {
        bottom: -1000px; /* Posição inicial fora da tela */
    }
    100% {
        bottom: 100px; /* Posição final na tela, ajuste conforme necessário */
    }
}
@keyframes logodown {
    from {
      opacity: 0;              /* Começa totalmente visível */
      transform: translateY(0); /* Começa na posição inicial */
    }
    to {
      opacity: 3;                  /* Termina totalmente transparente */
      transform: translateY(20px); /* Move para baixo */
    }
  }
@keyframes icondown {
    from {
        top: -100px; /* Posição inicial acima da tela */
        opacity: 0; /* Começa totalmente transparente */
    }
    to {
        top: 30px; /* Posição final na tela */
        opacity: 1; /* Termina totalmente visível */
    }
}

*{


    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Alinhar à esquerda */
        margin-top: 250px; /* Ajuste conforme necessário para alinhar abaixo do logo do RouteLib */
        margin-left: 200;
    }
    
    .container div {
        margin-bottom: 20px; /* Espaço entre os itens */
    }
    
    .container a {
        text-decoration: none;
        color: #fff;
        font-size: 2em; /* Ajuste o tamanho do ícone conforme necessário */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        display: flex;
        align-items: center;
    }
    
    .container i {
        margin-right: 10px; /* Espaço entre o ícone e o texto */
    }
    
    .infragen {
        margin-left: 0; /* Altere conforme necessário para ajustar a posição */
        margin-bottom: 20px; /* Espaço entre os itens */
    }
    
    .infragen2 {
        margin-left: 0; /* Altere conforme necessário para ajustar a posição */
        margin-bottom: 20px; /* Espaço entre os itens */
    }
    
    .paragraph,
    .paragraph2,
    .paragraph3 {
        margin-top: 10px; /* Espaçamento entre o link e o parágrafo */
        color: ;
    }
    
    .texto {
        color: #ffffff; /* Cor do texto */
        font-size: 16px; /* Tamanho da fonte */
        text-align: center; /* Alinhamento do texto */
    }
    


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     background-color: #3B6275;   /* #102229; */
    z-index: 5;

/* Estilos para o cabeçalho */

header {

    padding: 20px; /* Espaçamento interno do cabeçalho */
    text-align: center; /* Alinhamento do texto centralizado */
}


.logocanto{
    position: absolute;
    width: 100px;
    height: 100px;
    left: -7;
    z-index: 10;
    
}

/* Estilos para o conteúdo principal */
.main-content {
    padding: 20px; /* Espaçamento interno do conteúdo principal */
}

/* Estilos para o rodapé */
footer {
    background-color: #3B6275; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px; /* Espaçamento interno do rodapé */
    text-align: center; /* Alinhamento do texto centralizado */
}
.ufsm, .ctism, .redes {
    width: 95px; /* Ajuste o tamanho conforme necessário */
    height: 95px; /* Ajuste o tamanho conforme necessário */
    position: fixed; /* Posição fixa para manter os ícones na tela enquanto você rola */
    top: 30px; /* Distância do topo da janela do navegador */
    z-index: 10; /* Garante que os ícones estejam acima de outros elementos, se necessário */
    animation-name: icondown; /* Nome da animação */
    animation-duration: 1s; /* Duração da animação */
    animation-timing-function: ease-out;
}

.ufsm {
    right: 260px; /* Distância da borda direita da janela do navegador */
}

.ctism {
    right: 140px; /* Distância da borda direita da janela do navegador, para posicionar ao lado de ufsm */
}

.redes {
    right: 20px; /* Distância da borda direita da janela do navegador, para posicionar ao lado de ctism */
}
.logoroutelib {
    height: 400px;
    position: absolute;
    top: -110px;          /* Corrigido com 'px' */
    left: 100px;         /* Corrigido com 'px' */
    animation-name: logodown;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    animation-timing-function: ease-out;
}

.texto{
    position: absolute; 
    top: 300px; 
    left: 200px; 
    color: #fff;

}

.notebook{
    width: 800px;
    height: 550px;
    bottom: 100px; /* Inicialmente fora da tela */
    right: 10px;
    position: fixed; 
    z-index: 7;
    animation-name: notebookup;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
}
    
}
.circle {
    width: 1000px;
    height: 1000px;
    background-color: #32424B;
    border-radius: 50%;
    position: fixed;
    bottom: -500px; /* Inicialmente fora da tela */
    right: -500px;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    animation-name: circleup;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

}

}
